<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="medidor">
            <h2><span>Medidor</span> {{medidor.id}}</h2>
            <hr>
            <jhi-alert-error></jhi-alert-error>
            <dl class="row-md jh-entity-details">
                <dt><span>Identificador</span></dt>
                <dd>
                    <span>{{medidor.identificador}}</span>
                </dd>
                <dt><span>Marca</span></dt>
                <dd>
                    <span>{{medidor.marca}}</span>
                </dd>
                <dt><span>Modelo</span></dt>
                <dd>
                    <span>{{medidor.modelo}}</span>
                </dd>
                <dt><span>Inicio Contador</span></dt>
                <dd>
                    <span>{{medidor.inicioContador}}</span>
                </dd>
                <dt><span>Created Date</span></dt>
                <dd>
                    <span>{{medidor.createdDate}}</span>
                </dd>
                <dt><span>Last Upd Date</span></dt>
                <dd>
                    <span>{{medidor.lastUpdDate}}</span>
                </dd>
                <dt><span>Direccion</span></dt>
                <dd>
                    <div *ngIf="medidor.direccion">
                        <a [routerLink]="['/direccion', medidor.direccion?.id, 'view']">{{medidor.direccion?.id}}</a>
                    </div>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon [icon]="'arrow-left'"></fa-icon>&nbsp;<span> Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/medidor', medidor.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon [icon]="'pencil-alt'"></fa-icon>&nbsp;<span> Edit</span>
            </button>
        </div>
    </div>
</div>
