<div>
    <h2 id="page-heading">
        <span>Medidors</span>
        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-medidor" [routerLink]="['/medidor/new']">
            <fa-icon [icon]="'plus'"></fa-icon>
            <span >
            Create a new Medidor
            </span>
        </button>
    </h2>
    <jhi-alert></jhi-alert>
    <br/>
    <div class="alert alert-warning" *ngIf="medidors?.length === 0">
        <span>No medidors found</span>
    </div>
    <div class="table-responsive" *ngIf="medidors?.length > 0">
        <table class="table table-striped">
            <thead>
            <tr>
            <th><span>ID</span></th>
            <th><span>Identificador</span></th>
            <th><span>Marca</span></th>
            <th><span>Modelo</span></th>
            <th><span>Inicio Contador</span></th>
            <th><span>Created Date</span></th>
            <th><span>Last Upd Date</span></th>
            <th><span>Direccion</span></th>
            <th></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let medidor of medidors ;trackBy: trackId">
                <td><a [routerLink]="['/medidor', medidor.id, 'view' ]">{{medidor.id}}</a></td>
                <td>{{medidor.identificador}}</td>
                <td>{{medidor.marca}}</td>
                <td>{{medidor.modelo}}</td>
                <td>{{medidor.inicioContador}}</td>
                <td>{{medidor.createdDate | date:'medium'}}</td>
                <td>{{medidor.lastUpdDate | date:'medium'}}</td>
                <td>
                    <div *ngIf="medidor.direccion">
                        <a [routerLink]="['/direccion', medidor.direccion?.id, 'view' ]" >{{medidor.direccion?.id}}</a>
                    </div>
                </td>
                <td class="text-right">
                    <div class="btn-group">
                        <button type="submit"
                                [routerLink]="['/medidor', medidor.id, 'view' ]"
                                class="btn btn-info btn-sm">
                            <fa-icon [icon]="'eye'"></fa-icon>
                            <span class="d-none d-md-inline">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/medidor', medidor.id, 'edit']"
                                class="btn btn-primary btn-sm">
                            <fa-icon [icon]="'pencil-alt'"></fa-icon>
                            <span class="d-none d-md-inline">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/medidor', { outlets: { popup: medidor.id + '/delete'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-danger btn-sm">
                            <fa-icon [icon]="'times'"></fa-icon>
                            <span class="d-none d-md-inline">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
