<div class="row justify-content-center">
    <div class="col-8">
        <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
            <h2 id="jhi-medidor-heading">Create or edit a Medidor</h2>
            <div>
                <jhi-alert-error></jhi-alert-error>
                <div class="form-group" [hidden]="!editForm.get('id').value">
                    <label for="id">ID</label>
                    <input type="text" class="form-control" id="id" name="id" formControlName="id"
                        readonly />
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="field_identificador">Identificador</label>
                    <input type="text" class="form-control" name="identificador" id="field_identificador"
                           formControlName="identificador"/>
                    <div *ngIf="editForm.get('identificador').invalid && (editForm.get('identificador').dirty || editForm.get('identificador').touched)">
                        <small class="form-text text-danger"
                               *ngIf="editForm.get('identificador').errors.required">
                        This field is required.
                        </small>
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="field_marca">Marca</label>
                    <input type="text" class="form-control" name="marca" id="field_marca"
                           formControlName="marca"/>
                    <div *ngIf="editForm.get('marca').invalid && (editForm.get('marca').dirty || editForm.get('marca').touched)">
                        <small class="form-text text-danger"
                               *ngIf="editForm.get('marca').errors.required">
                        This field is required.
                        </small>
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="field_modelo">Modelo</label>
                    <input type="text" class="form-control" name="modelo" id="field_modelo"
                           formControlName="modelo"/>
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="field_inicioContador">Inicio Contador</label>
                    <input type="number" class="form-control" name="inicioContador" id="field_inicioContador"
                           formControlName="inicioContador"/>
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="field_createdDate">Created Date</label>
                    <div class="d-flex">
                        <input id="field_createdDate" type="datetime-local" class="form-control" name="createdDate" formControlName="createdDate" placeholder="YYYY-MM-DD HH:mm"/>
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="field_lastUpdDate">Last Upd Date</label>
                    <div class="d-flex">
                        <input id="field_lastUpdDate" type="datetime-local" class="form-control" name="lastUpdDate" formControlName="lastUpdDate" placeholder="YYYY-MM-DD HH:mm"/>
                    </div>
                </div>

                <div class="form-group">
                    <label class="form-control-label" for="field_direccion">Direccion</label>
                    <select class="form-control" id="field_direccion" name="direccion" formControlName="direccion">
                        <option *ngIf="!editForm.get('direccion').value" [ngValue]="null" selected></option>
                        <option [ngValue]="direccionOption.id === editForm.get('direccion').value?.id ? editForm.get('direccion').value : direccionOption" *ngFor="let direccionOption of direccions; trackBy: trackDireccionById">{{direccionOption.id}}</option>
                    </select>
                </div>
                <div *ngIf="editForm.get('direccion').invalid && (editForm.get('direccion').dirty || editForm.get('direccion').touched)">
                    <small class="form-text text-danger"
                           *ngIf="editForm.get('direccion').errors.required">
                        This field is required.
                    </small>
                </div>
            </div>
            <div>
                <button type="button" id="cancel-save" class="btn btn-secondary"  (click)="previousState()">
                    <fa-icon [icon]="'ban'"></fa-icon>&nbsp;<span>Cancel</span>
                </button>
                <button type="submit" id="save-entity" [disabled]="editForm.invalid || isSaving" class="btn btn-primary">
                    <fa-icon [icon]="'save'"></fa-icon>&nbsp;<span>Save</span>
                </button>
            </div>
        </form>
    </div>
</div>
