<div>
    <h2 id="page-heading">
        <span>Comunas</span>
        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-comuna" [routerLink]="['/comuna/new']">
            <fa-icon [icon]="'plus'"></fa-icon>
            <span >
            Create a new Comuna
            </span>
        </button>
    </h2>
    <jhi-alert></jhi-alert>
    <br/>
    <div class="alert alert-warning" *ngIf="comunas?.length === 0">
        <span>No comunas found</span>
    </div>
    <div class="table-responsive" *ngIf="comunas?.length > 0">
        <table class="table table-striped">
            <thead>
            <tr>
            <th><span>ID</span></th>
            <th><span>Nom Comuna</span></th>
            <th></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let comuna of comunas ;trackBy: trackId">
                <td><a [routerLink]="['/comuna', comuna.id, 'view' ]">{{comuna.id}}</a></td>
                <td>{{comuna.nomComuna}}</td>
                <td class="text-right">
                    <div class="btn-group">
                        <button type="submit"
                                [routerLink]="['/comuna', comuna.id, 'view' ]"
                                class="btn btn-info btn-sm">
                            <fa-icon [icon]="'eye'"></fa-icon>
                            <span class="d-none d-md-inline">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/comuna', comuna.id, 'edit']"
                                class="btn btn-primary btn-sm">
                            <fa-icon [icon]="'pencil-alt'"></fa-icon>
                            <span class="d-none d-md-inline">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/comuna', { outlets: { popup: comuna.id + '/delete'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-danger btn-sm">
                            <fa-icon [icon]="'times'"></fa-icon>
                            <span class="d-none d-md-inline">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
