<div class="row justify-content-center">
    <div class="col-8">
        <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
            <h2 id="jhi-historico-medidor-heading">Create or edit a Historico Medidor</h2>
            <div>
                <jhi-alert-error></jhi-alert-error>
                <div class="form-group" [hidden]="!editForm.get('id').value">
                    <label for="id">ID</label>
                    <input type="text" class="form-control" id="id" name="id" formControlName="id"
                        readonly />
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="field_inicioContador">Inicio Contador</label>
                    <input type="number" class="form-control" name="inicioContador" id="field_inicioContador"
                           formControlName="inicioContador"/>
                    <div *ngIf="editForm.get('inicioContador').invalid && (editForm.get('inicioContador').dirty || editForm.get('inicioContador').touched)">
                        <small class="form-text text-danger"
                               *ngIf="editForm.get('inicioContador').errors.required">
                        This field is required.
                        </small>
                        <small class="form-text text-danger"
                            [hidden]="!editForm.get('inicioContador')?.errors?.number">
                            This field should be a number.
                        </small>
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="field_finContador">Fin Contador</label>
                    <input type="number" class="form-control" name="finContador" id="field_finContador"
                           formControlName="finContador"/>
                    <div *ngIf="editForm.get('finContador').invalid && (editForm.get('finContador').dirty || editForm.get('finContador').touched)">
                        <small class="form-text text-danger"
                               *ngIf="editForm.get('finContador').errors.required">
                        This field is required.
                        </small>
                        <small class="form-text text-danger"
                            [hidden]="!editForm.get('finContador')?.errors?.number">
                            This field should be a number.
                        </small>
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="field_inicioPeriodo">Inicio Periodo</label>
                    <div class="d-flex">
                        <input id="field_inicioPeriodo" type="datetime-local" class="form-control" name="inicioPeriodo" formControlName="inicioPeriodo" placeholder="YYYY-MM-DD HH:mm"/>
                    </div>
                    <div *ngIf="editForm.get('inicioPeriodo').invalid && (editForm.get('inicioPeriodo').dirty || editForm.get('inicioPeriodo').touched)">
                        <small class="form-text text-danger"
                               *ngIf="editForm.get('inicioPeriodo').errors.required">
                        This field is required.
                        </small>
                        <small class="form-text text-danger"
                            [hidden]="!editForm.get('inicioPeriodo').errors?.ZonedDateTimelocal">
                            This field should be a date and time.
                        </small>
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="field_finPeriodo">Fin Periodo</label>
                    <div class="d-flex">
                        <input id="field_finPeriodo" type="datetime-local" class="form-control" name="finPeriodo" formControlName="finPeriodo" placeholder="YYYY-MM-DD HH:mm"/>
                    </div>
                    <div *ngIf="editForm.get('finPeriodo').invalid && (editForm.get('finPeriodo').dirty || editForm.get('finPeriodo').touched)">
                        <small class="form-text text-danger"
                               *ngIf="editForm.get('finPeriodo').errors.required">
                        This field is required.
                        </small>
                        <small class="form-text text-danger"
                            [hidden]="!editForm.get('finPeriodo').errors?.ZonedDateTimelocal">
                            This field should be a date and time.
                        </small>
                    </div>
                </div>

                <div class="form-group">
                    <label class="form-control-label" for="field_medidor">Medidor</label>
                    <select class="form-control" id="field_medidor" name="medidor" formControlName="medidor">
                        <option *ngIf="!editForm.get('medidor').value" [ngValue]="null" selected></option>
                        <option [ngValue]="medidorOption.id === editForm.get('medidor').value?.id ? editForm.get('medidor').value : medidorOption" *ngFor="let medidorOption of medidors; trackBy: trackMedidorById">{{medidorOption.id}}</option>
                    </select>
                </div>
                <div *ngIf="editForm.get('medidor').invalid && (editForm.get('medidor').dirty || editForm.get('medidor').touched)">
                    <small class="form-text text-danger"
                           *ngIf="editForm.get('medidor').errors.required">
                        This field is required.
                    </small>
                </div>
            </div>
            <div>
                <button type="button" id="cancel-save" class="btn btn-secondary"  (click)="previousState()">
                    <fa-icon [icon]="'ban'"></fa-icon>&nbsp;<span>Cancel</span>
                </button>
                <button type="submit" id="save-entity" [disabled]="editForm.invalid || isSaving" class="btn btn-primary">
                    <fa-icon [icon]="'save'"></fa-icon>&nbsp;<span>Save</span>
                </button>
            </div>
        </form>
    </div>
</div>
