<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="historicoMedidor">
            <h2><span>Historico Medidor</span> {{historicoMedidor.id}}</h2>
            <hr>
            <jhi-alert-error></jhi-alert-error>
            <dl class="row-md jh-entity-details">
                <dt><span>Inicio Contador</span></dt>
                <dd>
                    <span>{{historicoMedidor.inicioContador}}</span>
                </dd>
                <dt><span>Fin Contador</span></dt>
                <dd>
                    <span>{{historicoMedidor.finContador}}</span>
                </dd>
                <dt><span>Inicio Periodo</span></dt>
                <dd>
                    <span>{{historicoMedidor.inicioPeriodo}}</span>
                </dd>
                <dt><span>Fin Periodo</span></dt>
                <dd>
                    <span>{{historicoMedidor.finPeriodo}}</span>
                </dd>
                <dt><span>Medidor</span></dt>
                <dd>
                    <div *ngIf="historicoMedidor.medidor">
                        <a [routerLink]="['/medidor', historicoMedidor.medidor?.id, 'view']">{{historicoMedidor.medidor?.id}}</a>
                    </div>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon [icon]="'arrow-left'"></fa-icon>&nbsp;<span> Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/historico-medidor', historicoMedidor.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon [icon]="'pencil-alt'"></fa-icon>&nbsp;<span> Edit</span>
            </button>
        </div>
    </div>
</div>
