<div>
    <h2 id="page-heading">
        <span>Historico Medidors</span>
        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-historico-medidor" [routerLink]="['/historico-medidor/new']">
            <fa-icon [icon]="'plus'"></fa-icon>
            <span >
            Create a new Historico Medidor
            </span>
        </button>
    </h2>
    <jhi-alert></jhi-alert>
    <br/>
    <div class="alert alert-warning" *ngIf="historicoMedidors?.length === 0">
        <span>No historicoMedidors found</span>
    </div>
    <div class="table-responsive" *ngIf="historicoMedidors?.length > 0">
        <table class="table table-striped">
            <thead>
            <tr>
            <th><span>ID</span></th>
            <th><span>Inicio Contador</span></th>
            <th><span>Fin Contador</span></th>
            <th><span>Inicio Periodo</span></th>
            <th><span>Fin Periodo</span></th>
            <th><span>Medidor</span></th>
            <th></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let historicoMedidor of historicoMedidors ;trackBy: trackId">
                <td><a [routerLink]="['/historico-medidor', historicoMedidor.id, 'view' ]">{{historicoMedidor.id}}</a></td>
                <td>{{historicoMedidor.inicioContador}}</td>
                <td>{{historicoMedidor.finContador}}</td>
                <td>{{historicoMedidor.inicioPeriodo | date:'medium'}}</td>
                <td>{{historicoMedidor.finPeriodo | date:'medium'}}</td>
                <td>
                    <div *ngIf="historicoMedidor.medidor">
                        <a [routerLink]="['/medidor', historicoMedidor.medidor?.id, 'view' ]" >{{historicoMedidor.medidor?.id}}</a>
                    </div>
                </td>
                <td class="text-right">
                    <div class="btn-group">
                        <button type="submit"
                                [routerLink]="['/historico-medidor', historicoMedidor.id, 'view' ]"
                                class="btn btn-info btn-sm">
                            <fa-icon [icon]="'eye'"></fa-icon>
                            <span class="d-none d-md-inline">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/historico-medidor', historicoMedidor.id, 'edit']"
                                class="btn btn-primary btn-sm">
                            <fa-icon [icon]="'pencil-alt'"></fa-icon>
                            <span class="d-none d-md-inline">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/historico-medidor', { outlets: { popup: historicoMedidor.id + '/delete'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-danger btn-sm">
                            <fa-icon [icon]="'times'"></fa-icon>
                            <span class="d-none d-md-inline">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
