<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="cliente">
            <h2><span>Cliente</span> {{cliente.id}}</h2>
            <hr>
            <jhi-alert-error></jhi-alert-error>
            <dl class="row-md jh-entity-details">
                <dt><span>Rut</span></dt>
                <dd>
                    <span>{{cliente.rut}}</span>
                </dd>
                <dt><span>Nombre</span></dt>
                <dd>
                    <span>{{cliente.nombre}}</span>
                </dd>
                <dt><span>Otros Nombres</span></dt>
                <dd>
                    <span>{{cliente.otrosNombres}}</span>
                </dd>
                <dt><span>Apellido Paterno</span></dt>
                <dd>
                    <span>{{cliente.apellidoPaterno}}</span>
                </dd>
                <dt><span>Apellido Materno</span></dt>
                <dd>
                    <span>{{cliente.apellidoMaterno}}</span>
                </dd>
                <dt><span>Created Date</span></dt>
                <dd>
                    <span>{{cliente.createdDate}}</span>
                </dd>
                <dt><span>Last Upd Date</span></dt>
                <dd>
                    <span>{{cliente.lastUpdDate}}</span>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon [icon]="'arrow-left'"></fa-icon>&nbsp;<span> Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/cliente', cliente.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon [icon]="'pencil-alt'"></fa-icon>&nbsp;<span> Edit</span>
            </button>
        </div>
    </div>
</div>
