<div>
    <h2 id="page-heading">
        <span>Ciudads</span>
        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-ciudad" [routerLink]="['/ciudad/new']">
            <fa-icon [icon]="'plus'"></fa-icon>
            <span >
            Create a new Ciudad
            </span>
        </button>
    </h2>
    <jhi-alert></jhi-alert>
    <br/>
    <div class="alert alert-warning" *ngIf="ciudads?.length === 0">
        <span>No ciudads found</span>
    </div>
    <div class="table-responsive" *ngIf="ciudads?.length > 0">
        <table class="table table-striped">
            <thead>
            <tr>
            <th><span>ID</span></th>
            <th><span>Nom Ciudad</span></th>
            <th></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let ciudad of ciudads ;trackBy: trackId">
                <td><a [routerLink]="['/ciudad', ciudad.id, 'view' ]">{{ciudad.id}}</a></td>
                <td>{{ciudad.nomCiudad}}</td>
                <td class="text-right">
                    <div class="btn-group">
                        <button type="submit"
                                [routerLink]="['/ciudad', ciudad.id, 'view' ]"
                                class="btn btn-info btn-sm">
                            <fa-icon [icon]="'eye'"></fa-icon>
                            <span class="d-none d-md-inline">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/ciudad', ciudad.id, 'edit']"
                                class="btn btn-primary btn-sm">
                            <fa-icon [icon]="'pencil-alt'"></fa-icon>
                            <span class="d-none d-md-inline">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/ciudad', { outlets: { popup: ciudad.id + '/delete'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-danger btn-sm">
                            <fa-icon [icon]="'times'"></fa-icon>
                            <span class="d-none d-md-inline">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
