<div class="row justify-content-center">
    <div class="col-8">
        <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
            <h2 id="jhi-boleta-heading">Create or edit a Boleta</h2>
            <div>
                <jhi-alert-error></jhi-alert-error>
                <div class="form-group" [hidden]="!editForm.get('id').value">
                    <label for="id">ID</label>
                    <input type="text" class="form-control" id="id" name="id" formControlName="id"
                        readonly />
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="field_numeroBoleta">Numero Boleta</label>
                    <input type="number" class="form-control" name="numeroBoleta" id="field_numeroBoleta"
                           formControlName="numeroBoleta"/>
                    <div *ngIf="editForm.get('numeroBoleta').invalid && (editForm.get('numeroBoleta').dirty || editForm.get('numeroBoleta').touched)">
                        <small class="form-text text-danger"
                               *ngIf="editForm.get('numeroBoleta').errors.required">
                        This field is required.
                        </small>
                        <small class="form-text text-danger"
                            [hidden]="!editForm.get('numeroBoleta')?.errors?.number">
                            This field should be a number.
                        </small>
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="field_consumoCalculado">Consumo Calculado</label>
                    <input type="number" class="form-control" name="consumoCalculado" id="field_consumoCalculado"
                           formControlName="consumoCalculado"/>
                    <div *ngIf="editForm.get('consumoCalculado').invalid && (editForm.get('consumoCalculado').dirty || editForm.get('consumoCalculado').touched)">
                        <small class="form-text text-danger"
                               *ngIf="editForm.get('consumoCalculado').errors.required">
                        This field is required.
                        </small>
                        <small class="form-text text-danger"
                            [hidden]="!editForm.get('consumoCalculado')?.errors?.number">
                            This field should be a number.
                        </small>
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="field_consumoFacturado">Consumo Facturado</label>
                    <input type="number" class="form-control" name="consumoFacturado" id="field_consumoFacturado"
                           formControlName="consumoFacturado"/>
                    <div *ngIf="editForm.get('consumoFacturado').invalid && (editForm.get('consumoFacturado').dirty || editForm.get('consumoFacturado').touched)">
                        <small class="form-text text-danger"
                               *ngIf="editForm.get('consumoFacturado').errors.required">
                        This field is required.
                        </small>
                        <small class="form-text text-danger"
                            [hidden]="!editForm.get('consumoFacturado')?.errors?.number">
                            This field should be a number.
                        </small>
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="field_cargoFijo">Cargo Fijo</label>
                    <input type="number" class="form-control" name="cargoFijo" id="field_cargoFijo"
                           formControlName="cargoFijo"/>
                    <div *ngIf="editForm.get('cargoFijo').invalid && (editForm.get('cargoFijo').dirty || editForm.get('cargoFijo').touched)">
                        <small class="form-text text-danger"
                               *ngIf="editForm.get('cargoFijo').errors.required">
                        This field is required.
                        </small>
                        <small class="form-text text-danger"
                            [hidden]="!editForm.get('cargoFijo')?.errors?.number">
                            This field should be a number.
                        </small>
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="field_consumoAguaPotable">Consumo Agua Potable</label>
                    <input type="number" class="form-control" name="consumoAguaPotable" id="field_consumoAguaPotable"
                           formControlName="consumoAguaPotable"/>
                    <div *ngIf="editForm.get('consumoAguaPotable').invalid && (editForm.get('consumoAguaPotable').dirty || editForm.get('consumoAguaPotable').touched)">
                        <small class="form-text text-danger"
                               *ngIf="editForm.get('consumoAguaPotable').errors.required">
                        This field is required.
                        </small>
                        <small class="form-text text-danger"
                            [hidden]="!editForm.get('consumoAguaPotable')?.errors?.number">
                            This field should be a number.
                        </small>
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="field_servAlcantarillado">Serv Alcantarillado</label>
                    <input type="number" class="form-control" name="servAlcantarillado" id="field_servAlcantarillado"
                           formControlName="servAlcantarillado"/>
                    <div *ngIf="editForm.get('servAlcantarillado').invalid && (editForm.get('servAlcantarillado').dirty || editForm.get('servAlcantarillado').touched)">
                        <small class="form-text text-danger"
                               *ngIf="editForm.get('servAlcantarillado').errors.required">
                        This field is required.
                        </small>
                        <small class="form-text text-danger"
                            [hidden]="!editForm.get('servAlcantarillado')?.errors?.number">
                            This field should be a number.
                        </small>
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="field_tratAguasServidas">Trat Aguas Servidas</label>
                    <input type="number" class="form-control" name="tratAguasServidas" id="field_tratAguasServidas"
                           formControlName="tratAguasServidas"/>
                    <div *ngIf="editForm.get('tratAguasServidas').invalid && (editForm.get('tratAguasServidas').dirty || editForm.get('tratAguasServidas').touched)">
                        <small class="form-text text-danger"
                               *ngIf="editForm.get('tratAguasServidas').errors.required">
                        This field is required.
                        </small>
                        <small class="form-text text-danger"
                            [hidden]="!editForm.get('tratAguasServidas')?.errors?.number">
                            This field should be a number.
                        </small>
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="field_subConsumoMes">Sub Consumo Mes</label>
                    <input type="number" class="form-control" name="subConsumoMes" id="field_subConsumoMes"
                           formControlName="subConsumoMes"/>
                    <div *ngIf="editForm.get('subConsumoMes').invalid && (editForm.get('subConsumoMes').dirty || editForm.get('subConsumoMes').touched)">
                        <small class="form-text text-danger"
                               *ngIf="editForm.get('subConsumoMes').errors.required">
                        This field is required.
                        </small>
                        <small class="form-text text-danger"
                            [hidden]="!editForm.get('subConsumoMes')?.errors?.number">
                            This field should be a number.
                        </small>
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="field_despachoPostalCer">Despacho Postal Cer</label>
                    <input type="number" class="form-control" name="despachoPostalCer" id="field_despachoPostalCer"
                           formControlName="despachoPostalCer"/>
                    <div *ngIf="editForm.get('despachoPostalCer').invalid && (editForm.get('despachoPostalCer').dirty || editForm.get('despachoPostalCer').touched)">
                        <small class="form-text text-danger"
                               *ngIf="editForm.get('despachoPostalCer').errors.required">
                        This field is required.
                        </small>
                        <small class="form-text text-danger"
                            [hidden]="!editForm.get('despachoPostalCer')?.errors?.number">
                            This field should be a number.
                        </small>
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="field_intereses">Intereses</label>
                    <input type="number" class="form-control" name="intereses" id="field_intereses"
                           formControlName="intereses"/>
                    <div *ngIf="editForm.get('intereses').invalid && (editForm.get('intereses').dirty || editForm.get('intereses').touched)">
                        <small class="form-text text-danger"
                               *ngIf="editForm.get('intereses').errors.required">
                        This field is required.
                        </small>
                        <small class="form-text text-danger"
                            [hidden]="!editForm.get('intereses')?.errors?.number">
                            This field should be a number.
                        </small>
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="field_ajusteSencilloAnte">Ajuste Sencillo Ante</label>
                    <input type="number" class="form-control" name="ajusteSencilloAnte" id="field_ajusteSencilloAnte"
                           formControlName="ajusteSencilloAnte"/>
                    <div *ngIf="editForm.get('ajusteSencilloAnte').invalid && (editForm.get('ajusteSencilloAnte').dirty || editForm.get('ajusteSencilloAnte').touched)">
                        <small class="form-text text-danger"
                               *ngIf="editForm.get('ajusteSencilloAnte').errors.required">
                        This field is required.
                        </small>
                        <small class="form-text text-danger"
                            [hidden]="!editForm.get('ajusteSencilloAnte')?.errors?.number">
                            This field should be a number.
                        </small>
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="field_ajusteSencillo">Ajuste Sencillo</label>
                    <input type="number" class="form-control" name="ajusteSencillo" id="field_ajusteSencillo"
                           formControlName="ajusteSencillo"/>
                    <div *ngIf="editForm.get('ajusteSencillo').invalid && (editForm.get('ajusteSencillo').dirty || editForm.get('ajusteSencillo').touched)">
                        <small class="form-text text-danger"
                               *ngIf="editForm.get('ajusteSencillo').errors.required">
                        This field is required.
                        </small>
                        <small class="form-text text-danger"
                            [hidden]="!editForm.get('ajusteSencillo')?.errors?.number">
                            This field should be a number.
                        </small>
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="field_montoTotal">Monto Total</label>
                    <input type="number" class="form-control" name="montoTotal" id="field_montoTotal"
                           formControlName="montoTotal"/>
                    <div *ngIf="editForm.get('montoTotal').invalid && (editForm.get('montoTotal').dirty || editForm.get('montoTotal').touched)">
                        <small class="form-text text-danger"
                               *ngIf="editForm.get('montoTotal').errors.required">
                        This field is required.
                        </small>
                        <small class="form-text text-danger"
                            [hidden]="!editForm.get('montoTotal')?.errors?.number">
                            This field should be a number.
                        </small>
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="field_saldoAnterior">Saldo Anterior</label>
                    <input type="number" class="form-control" name="saldoAnterior" id="field_saldoAnterior"
                           formControlName="saldoAnterior"/>
                    <div *ngIf="editForm.get('saldoAnterior').invalid && (editForm.get('saldoAnterior').dirty || editForm.get('saldoAnterior').touched)">
                        <small class="form-text text-danger"
                               *ngIf="editForm.get('saldoAnterior').errors.required">
                        This field is required.
                        </small>
                        <small class="form-text text-danger"
                            [hidden]="!editForm.get('saldoAnterior')?.errors?.number">
                            This field should be a number.
                        </small>
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="field_totalPagar">Total Pagar</label>
                    <input type="number" class="form-control" name="totalPagar" id="field_totalPagar"
                           formControlName="totalPagar"/>
                    <div *ngIf="editForm.get('totalPagar').invalid && (editForm.get('totalPagar').dirty || editForm.get('totalPagar').touched)">
                        <small class="form-text text-danger"
                               *ngIf="editForm.get('totalPagar').errors.required">
                        This field is required.
                        </small>
                        <small class="form-text text-danger"
                            [hidden]="!editForm.get('totalPagar')?.errors?.number">
                            This field should be a number.
                        </small>
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="field_tipoDespacho">Tipo Despacho</label>
                    <input type="text" class="form-control" name="tipoDespacho" id="field_tipoDespacho"
                           formControlName="tipoDespacho"/>
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="field_grupoTarifario">Grupo Tarifario</label>
                    <input type="text" class="form-control" name="grupoTarifario" id="field_grupoTarifario"
                           formControlName="grupoTarifario"/>
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="field_factorCobro">Factor Cobro</label>
                    <input type="number" class="form-control" name="factorCobro" id="field_factorCobro"
                           formControlName="factorCobro"/>
                    <div *ngIf="editForm.get('factorCobro').invalid && (editForm.get('factorCobro').dirty || editForm.get('factorCobro').touched)">
                        <small class="form-text text-danger"
                               *ngIf="editForm.get('factorCobro').errors.required">
                        This field is required.
                        </small>
                        <small class="form-text text-danger"
                            [hidden]="!editForm.get('factorCobro')?.errors?.number">
                            This field should be a number.
                        </small>
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="field_tipoFactura">Tipo Factura</label>
                    <input type="text" class="form-control" name="tipoFactura" id="field_tipoFactura"
                           formControlName="tipoFactura"/>
                    <div *ngIf="editForm.get('tipoFactura').invalid && (editForm.get('tipoFactura').dirty || editForm.get('tipoFactura').touched)">
                        <small class="form-text text-danger"
                               *ngIf="editForm.get('tipoFactura').errors.required">
                        This field is required.
                        </small>
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="field_diametro">Diametro</label>
                    <input type="number" class="form-control" name="diametro" id="field_diametro"
                           formControlName="diametro"/>
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="field_fechaVencimiento">Fecha Vencimiento</label>
                    <div class="d-flex">
                        <input id="field_fechaVencimiento" type="datetime-local" class="form-control" name="fechaVencimiento" formControlName="fechaVencimiento" placeholder="YYYY-MM-DD HH:mm"/>
                    </div>
                    <div *ngIf="editForm.get('fechaVencimiento').invalid && (editForm.get('fechaVencimiento').dirty || editForm.get('fechaVencimiento').touched)">
                        <small class="form-text text-danger"
                               *ngIf="editForm.get('fechaVencimiento').errors.required">
                        This field is required.
                        </small>
                        <small class="form-text text-danger"
                            [hidden]="!editForm.get('fechaVencimiento').errors?.ZonedDateTimelocal">
                            This field should be a date and time.
                        </small>
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="field_fechaEmision">Fecha Emision</label>
                    <div class="d-flex">
                        <input id="field_fechaEmision" type="datetime-local" class="form-control" name="fechaEmision" formControlName="fechaEmision" placeholder="YYYY-MM-DD HH:mm"/>
                    </div>
                    <div *ngIf="editForm.get('fechaEmision').invalid && (editForm.get('fechaEmision').dirty || editForm.get('fechaEmision').touched)">
                        <small class="form-text text-danger"
                               *ngIf="editForm.get('fechaEmision').errors.required">
                        This field is required.
                        </small>
                        <small class="form-text text-danger"
                            [hidden]="!editForm.get('fechaEmision').errors?.ZonedDateTimelocal">
                            This field should be a date and time.
                        </small>
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="field_createdDate">Created Date</label>
                    <div class="d-flex">
                        <input id="field_createdDate" type="datetime-local" class="form-control" name="createdDate" formControlName="createdDate" placeholder="YYYY-MM-DD HH:mm"/>
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="field_lastUpdDate">Last Upd Date</label>
                    <div class="d-flex">
                        <input id="field_lastUpdDate" type="datetime-local" class="form-control" name="lastUpdDate" formControlName="lastUpdDate" placeholder="YYYY-MM-DD HH:mm"/>
                    </div>
                </div>

                <div class="form-group">
                    <label class="form-control-label" for="field_medidor">Medidor</label>
                    <select class="form-control" id="field_medidor" name="medidor" formControlName="medidor">
                        <option *ngIf="!editForm.get('medidor').value" [ngValue]="null" selected></option>
                        <option [ngValue]="medidorOption.id === editForm.get('medidor').value?.id ? editForm.get('medidor').value : medidorOption" *ngFor="let medidorOption of medidors; trackBy: trackMedidorById">{{medidorOption.id}}</option>
                    </select>
                </div>
                <div *ngIf="editForm.get('medidor').invalid && (editForm.get('medidor').dirty || editForm.get('medidor').touched)">
                    <small class="form-text text-danger"
                           *ngIf="editForm.get('medidor').errors.required">
                        This field is required.
                    </small>
                </div>
            </div>
            <div>
                <button type="button" id="cancel-save" class="btn btn-secondary"  (click)="previousState()">
                    <fa-icon [icon]="'ban'"></fa-icon>&nbsp;<span>Cancel</span>
                </button>
                <button type="submit" id="save-entity" [disabled]="editForm.invalid || isSaving" class="btn btn-primary">
                    <fa-icon [icon]="'save'"></fa-icon>&nbsp;<span>Save</span>
                </button>
            </div>
        </form>
    </div>
</div>
