<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="boleta">
            <h2><span>Boleta</span> {{boleta.id}}</h2>
            <hr>
            <jhi-alert-error></jhi-alert-error>
            <dl class="row-md jh-entity-details">
                <dt><span>Numero Boleta</span></dt>
                <dd>
                    <span>{{boleta.numeroBoleta}}</span>
                </dd>
                <dt><span>Consumo Calculado</span></dt>
                <dd>
                    <span>{{boleta.consumoCalculado}}</span>
                </dd>
                <dt><span>Consumo Facturado</span></dt>
                <dd>
                    <span>{{boleta.consumoFacturado}}</span>
                </dd>
                <dt><span>Cargo Fijo</span></dt>
                <dd>
                    <span>{{boleta.cargoFijo}}</span>
                </dd>
                <dt><span>Consumo Agua Potable</span></dt>
                <dd>
                    <span>{{boleta.consumoAguaPotable}}</span>
                </dd>
                <dt><span>Serv Alcantarillado</span></dt>
                <dd>
                    <span>{{boleta.servAlcantarillado}}</span>
                </dd>
                <dt><span>Trat Aguas Servidas</span></dt>
                <dd>
                    <span>{{boleta.tratAguasServidas}}</span>
                </dd>
                <dt><span>Sub Consumo Mes</span></dt>
                <dd>
                    <span>{{boleta.subConsumoMes}}</span>
                </dd>
                <dt><span>Despacho Postal Cer</span></dt>
                <dd>
                    <span>{{boleta.despachoPostalCer}}</span>
                </dd>
                <dt><span>Intereses</span></dt>
                <dd>
                    <span>{{boleta.intereses}}</span>
                </dd>
                <dt><span>Ajuste Sencillo Ante</span></dt>
                <dd>
                    <span>{{boleta.ajusteSencilloAnte}}</span>
                </dd>
                <dt><span>Ajuste Sencillo</span></dt>
                <dd>
                    <span>{{boleta.ajusteSencillo}}</span>
                </dd>
                <dt><span>Monto Total</span></dt>
                <dd>
                    <span>{{boleta.montoTotal}}</span>
                </dd>
                <dt><span>Saldo Anterior</span></dt>
                <dd>
                    <span>{{boleta.saldoAnterior}}</span>
                </dd>
                <dt><span>Total Pagar</span></dt>
                <dd>
                    <span>{{boleta.totalPagar}}</span>
                </dd>
                <dt><span>Tipo Despacho</span></dt>
                <dd>
                    <span>{{boleta.tipoDespacho}}</span>
                </dd>
                <dt><span>Grupo Tarifario</span></dt>
                <dd>
                    <span>{{boleta.grupoTarifario}}</span>
                </dd>
                <dt><span>Factor Cobro</span></dt>
                <dd>
                    <span>{{boleta.factorCobro}}</span>
                </dd>
                <dt><span>Tipo Factura</span></dt>
                <dd>
                    <span>{{boleta.tipoFactura}}</span>
                </dd>
                <dt><span>Diametro</span></dt>
                <dd>
                    <span>{{boleta.diametro}}</span>
                </dd>
                <dt><span>Fecha Vencimiento</span></dt>
                <dd>
                    <span>{{boleta.fechaVencimiento}}</span>
                </dd>
                <dt><span>Fecha Emision</span></dt>
                <dd>
                    <span>{{boleta.fechaEmision}}</span>
                </dd>
                <dt><span>Created Date</span></dt>
                <dd>
                    <span>{{boleta.createdDate}}</span>
                </dd>
                <dt><span>Last Upd Date</span></dt>
                <dd>
                    <span>{{boleta.lastUpdDate}}</span>
                </dd>
                <dt><span>Medidor</span></dt>
                <dd>
                    <div *ngIf="boleta.medidor">
                        <a [routerLink]="['/medidor', boleta.medidor?.id, 'view']">{{boleta.medidor?.id}}</a>
                    </div>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon [icon]="'arrow-left'"></fa-icon>&nbsp;<span> Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/boleta', boleta.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon [icon]="'pencil-alt'"></fa-icon>&nbsp;<span> Edit</span>
            </button>
        </div>
    </div>
</div>
