<div>
    <h2 id="page-heading">
        <span>Boletas</span>
        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-boleta" [routerLink]="['/boleta/new']">
            <fa-icon [icon]="'plus'"></fa-icon>
            <span >
            Create a new Boleta
            </span>
        </button>
    </h2>
    <jhi-alert></jhi-alert>
    <br/>
    <div class="alert alert-warning" *ngIf="boletas?.length === 0">
        <span>No boletas found</span>
    </div>
    <div class="table-responsive" *ngIf="boletas?.length > 0">
        <table class="table table-striped">
            <thead>
            <tr>
            <th><span>ID</span></th>
            <th><span>Numero Boleta</span></th>
            <th><span>Consumo Calculado</span></th>
            <th><span>Consumo Facturado</span></th>
            <th><span>Cargo Fijo</span></th>
            <th><span>Consumo Agua Potable</span></th>
            <th><span>Serv Alcantarillado</span></th>
            <th><span>Trat Aguas Servidas</span></th>
            <th><span>Sub Consumo Mes</span></th>
            <th><span>Despacho Postal Cer</span></th>
            <th><span>Intereses</span></th>
            <th><span>Ajuste Sencillo Ante</span></th>
            <th><span>Ajuste Sencillo</span></th>
            <th><span>Monto Total</span></th>
            <th><span>Saldo Anterior</span></th>
            <th><span>Total Pagar</span></th>
            <th><span>Tipo Despacho</span></th>
            <th><span>Grupo Tarifario</span></th>
            <th><span>Factor Cobro</span></th>
            <th><span>Tipo Factura</span></th>
            <th><span>Diametro</span></th>
            <th><span>Fecha Vencimiento</span></th>
            <th><span>Fecha Emision</span></th>
            <th><span>Created Date</span></th>
            <th><span>Last Upd Date</span></th>
            <th><span>Medidor</span></th>
            <th></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let boleta of boletas ;trackBy: trackId">
                <td><a [routerLink]="['/boleta', boleta.id, 'view' ]">{{boleta.id}}</a></td>
                <td>{{boleta.numeroBoleta}}</td>
                <td>{{boleta.consumoCalculado}}</td>
                <td>{{boleta.consumoFacturado}}</td>
                <td>{{boleta.cargoFijo}}</td>
                <td>{{boleta.consumoAguaPotable}}</td>
                <td>{{boleta.servAlcantarillado}}</td>
                <td>{{boleta.tratAguasServidas}}</td>
                <td>{{boleta.subConsumoMes}}</td>
                <td>{{boleta.despachoPostalCer}}</td>
                <td>{{boleta.intereses}}</td>
                <td>{{boleta.ajusteSencilloAnte}}</td>
                <td>{{boleta.ajusteSencillo}}</td>
                <td>{{boleta.montoTotal}}</td>
                <td>{{boleta.saldoAnterior}}</td>
                <td>{{boleta.totalPagar}}</td>
                <td>{{boleta.tipoDespacho}}</td>
                <td>{{boleta.grupoTarifario}}</td>
                <td>{{boleta.factorCobro}}</td>
                <td>{{boleta.tipoFactura}}</td>
                <td>{{boleta.diametro}}</td>
                <td>{{boleta.fechaVencimiento | date:'medium'}}</td>
                <td>{{boleta.fechaEmision | date:'medium'}}</td>
                <td>{{boleta.createdDate | date:'medium'}}</td>
                <td>{{boleta.lastUpdDate | date:'medium'}}</td>
                <td>
                    <div *ngIf="boleta.medidor">
                        <a [routerLink]="['/medidor', boleta.medidor?.id, 'view' ]" >{{boleta.medidor?.id}}</a>
                    </div>
                </td>
                <td class="text-right">
                    <div class="btn-group">
                        <button type="submit"
                                [routerLink]="['/boleta', boleta.id, 'view' ]"
                                class="btn btn-info btn-sm">
                            <fa-icon [icon]="'eye'"></fa-icon>
                            <span class="d-none d-md-inline">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/boleta', boleta.id, 'edit']"
                                class="btn btn-primary btn-sm">
                            <fa-icon [icon]="'pencil-alt'"></fa-icon>
                            <span class="d-none d-md-inline">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/boleta', { outlets: { popup: boleta.id + '/delete'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-danger btn-sm">
                            <fa-icon [icon]="'times'"></fa-icon>
                            <span class="d-none d-md-inline">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
