<div class="row justify-content-center">
    <div class="col-8">
        <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
            <h2 id="jhi-direccion-heading">Create or edit a Direccion</h2>
            <div>
                <jhi-alert-error></jhi-alert-error>
                <div class="form-group" [hidden]="!editForm.get('id').value">
                    <label for="id">ID</label>
                    <input type="text" class="form-control" id="id" name="id" formControlName="id"
                        readonly />
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="field_calle">Calle</label>
                    <input type="text" class="form-control" name="calle" id="field_calle"
                           formControlName="calle"/>
                    <div *ngIf="editForm.get('calle').invalid && (editForm.get('calle').dirty || editForm.get('calle').touched)">
                        <small class="form-text text-danger"
                               *ngIf="editForm.get('calle').errors.required">
                        This field is required.
                        </small>
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="field_numero">Numero</label>
                    <input type="text" class="form-control" name="numero" id="field_numero"
                           formControlName="numero"/>
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="field_createdDate">Created Date</label>
                    <div class="d-flex">
                        <input id="field_createdDate" type="datetime-local" class="form-control" name="createdDate" formControlName="createdDate" placeholder="YYYY-MM-DD HH:mm"/>
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="field_lastUpdDate">Last Upd Date</label>
                    <div class="d-flex">
                        <input id="field_lastUpdDate" type="datetime-local" class="form-control" name="lastUpdDate" formControlName="lastUpdDate" placeholder="YYYY-MM-DD HH:mm"/>
                    </div>
                </div>

                <div class="form-group">
                    <label class="form-control-label" for="field_pais">Pais</label>
                    <select class="form-control" id="field_pais" name="pais" formControlName="pais">
                        <option *ngIf="!editForm.get('pais').value" [ngValue]="null" selected></option>
                        <option [ngValue]="paisOption.id === editForm.get('pais').value?.id ? editForm.get('pais').value : paisOption" *ngFor="let paisOption of pais; trackBy: trackPaisById">{{paisOption.id}}</option>
                    </select>
                </div>
                <div *ngIf="editForm.get('pais').invalid && (editForm.get('pais').dirty || editForm.get('pais').touched)">
                    <small class="form-text text-danger"
                           *ngIf="editForm.get('pais').errors.required">
                        This field is required.
                    </small>
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="field_region">Region</label>
                    <select class="form-control" id="field_region" name="region" formControlName="region">
                        <option *ngIf="!editForm.get('region').value" [ngValue]="null" selected></option>
                        <option [ngValue]="regionOption.id === editForm.get('region').value?.id ? editForm.get('region').value : regionOption" *ngFor="let regionOption of regions; trackBy: trackRegionById">{{regionOption.id}}</option>
                    </select>
                </div>
                <div *ngIf="editForm.get('region').invalid && (editForm.get('region').dirty || editForm.get('region').touched)">
                    <small class="form-text text-danger"
                           *ngIf="editForm.get('region').errors.required">
                        This field is required.
                    </small>
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="field_comuna">Comuna</label>
                    <select class="form-control" id="field_comuna" name="comuna" formControlName="comuna">
                        <option *ngIf="!editForm.get('comuna').value" [ngValue]="null" selected></option>
                        <option [ngValue]="comunaOption.id === editForm.get('comuna').value?.id ? editForm.get('comuna').value : comunaOption" *ngFor="let comunaOption of comunas; trackBy: trackComunaById">{{comunaOption.id}}</option>
                    </select>
                </div>
                <div *ngIf="editForm.get('comuna').invalid && (editForm.get('comuna').dirty || editForm.get('comuna').touched)">
                    <small class="form-text text-danger"
                           *ngIf="editForm.get('comuna').errors.required">
                        This field is required.
                    </small>
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="field_ciudad">Ciudad</label>
                    <select class="form-control" id="field_ciudad" name="ciudad" formControlName="ciudad">
                        <option *ngIf="!editForm.get('ciudad').value" [ngValue]="null" selected></option>
                        <option [ngValue]="ciudadOption.id === editForm.get('ciudad').value?.id ? editForm.get('ciudad').value : ciudadOption" *ngFor="let ciudadOption of ciudads; trackBy: trackCiudadById">{{ciudadOption.id}}</option>
                    </select>
                </div>
                <div *ngIf="editForm.get('ciudad').invalid && (editForm.get('ciudad').dirty || editForm.get('ciudad').touched)">
                    <small class="form-text text-danger"
                           *ngIf="editForm.get('ciudad').errors.required">
                        This field is required.
                    </small>
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="field_cliente">Cliente</label>
                    <select class="form-control" id="field_cliente" name="cliente" formControlName="cliente">
                        <option *ngIf="!editForm.get('cliente').value" [ngValue]="null" selected></option>
                        <option [ngValue]="clienteOption.id === editForm.get('cliente').value?.id ? editForm.get('cliente').value : clienteOption" *ngFor="let clienteOption of clientes; trackBy: trackClienteById">{{clienteOption.id}}</option>
                    </select>
                </div>
                <div *ngIf="editForm.get('cliente').invalid && (editForm.get('cliente').dirty || editForm.get('cliente').touched)">
                    <small class="form-text text-danger"
                           *ngIf="editForm.get('cliente').errors.required">
                        This field is required.
                    </small>
                </div>
            </div>
            <div>
                <button type="button" id="cancel-save" class="btn btn-secondary"  (click)="previousState()">
                    <fa-icon [icon]="'ban'"></fa-icon>&nbsp;<span>Cancel</span>
                </button>
                <button type="submit" id="save-entity" [disabled]="editForm.invalid || isSaving" class="btn btn-primary">
                    <fa-icon [icon]="'save'"></fa-icon>&nbsp;<span>Save</span>
                </button>
            </div>
        </form>
    </div>
</div>
