<div>
    <h2 id="page-heading">
        <span>Direccions</span>
        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-direccion" [routerLink]="['/direccion/new']">
            <fa-icon [icon]="'plus'"></fa-icon>
            <span >
            Create a new Direccion
            </span>
        </button>
    </h2>
    <jhi-alert></jhi-alert>
    <br/>
    <div class="alert alert-warning" *ngIf="direccions?.length === 0">
        <span>No direccions found</span>
    </div>
    <div class="table-responsive" *ngIf="direccions?.length > 0">
        <table class="table table-striped">
            <thead>
            <tr>
            <th><span>ID</span></th>
            <th><span>Calle</span></th>
            <th><span>Numero</span></th>
            <th><span>Created Date</span></th>
            <th><span>Last Upd Date</span></th>
            <th><span>Pais</span></th>
            <th><span>Region</span></th>
            <th><span>Comuna</span></th>
            <th><span>Ciudad</span></th>
            <th><span>Cliente</span></th>
            <th></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let direccion of direccions ;trackBy: trackId">
                <td><a [routerLink]="['/direccion', direccion.id, 'view' ]">{{direccion.id}}</a></td>
                <td>{{direccion.calle}}</td>
                <td>{{direccion.numero}}</td>
                <td>{{direccion.createdDate | date:'medium'}}</td>
                <td>{{direccion.lastUpdDate | date:'medium'}}</td>
                <td>
                    <div *ngIf="direccion.pais">
                        <a [routerLink]="['/pais', direccion.pais?.id, 'view' ]" >{{direccion.pais?.id}}</a>
                    </div>
                </td>
                <td>
                    <div *ngIf="direccion.region">
                        <a [routerLink]="['/region', direccion.region?.id, 'view' ]" >{{direccion.region?.id}}</a>
                    </div>
                </td>
                <td>
                    <div *ngIf="direccion.comuna">
                        <a [routerLink]="['/comuna', direccion.comuna?.id, 'view' ]" >{{direccion.comuna?.id}}</a>
                    </div>
                </td>
                <td>
                    <div *ngIf="direccion.ciudad">
                        <a [routerLink]="['/ciudad', direccion.ciudad?.id, 'view' ]" >{{direccion.ciudad?.id}}</a>
                    </div>
                </td>
                <td>
                    <div *ngIf="direccion.cliente">
                        <a [routerLink]="['/cliente', direccion.cliente?.id, 'view' ]" >{{direccion.cliente?.id}}</a>
                    </div>
                </td>
                <td class="text-right">
                    <div class="btn-group">
                        <button type="submit"
                                [routerLink]="['/direccion', direccion.id, 'view' ]"
                                class="btn btn-info btn-sm">
                            <fa-icon [icon]="'eye'"></fa-icon>
                            <span class="d-none d-md-inline">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/direccion', direccion.id, 'edit']"
                                class="btn btn-primary btn-sm">
                            <fa-icon [icon]="'pencil-alt'"></fa-icon>
                            <span class="d-none d-md-inline">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/direccion', { outlets: { popup: direccion.id + '/delete'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-danger btn-sm">
                            <fa-icon [icon]="'times'"></fa-icon>
                            <span class="d-none d-md-inline">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
