<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="direccion">
            <h2><span>Direccion</span> {{direccion.id}}</h2>
            <hr>
            <jhi-alert-error></jhi-alert-error>
            <dl class="row-md jh-entity-details">
                <dt><span>Calle</span></dt>
                <dd>
                    <span>{{direccion.calle}}</span>
                </dd>
                <dt><span>Numero</span></dt>
                <dd>
                    <span>{{direccion.numero}}</span>
                </dd>
                <dt><span>Created Date</span></dt>
                <dd>
                    <span>{{direccion.createdDate}}</span>
                </dd>
                <dt><span>Last Upd Date</span></dt>
                <dd>
                    <span>{{direccion.lastUpdDate}}</span>
                </dd>
                <dt><span>Pais</span></dt>
                <dd>
                    <div *ngIf="direccion.pais">
                        <a [routerLink]="['/pais', direccion.pais?.id, 'view']">{{direccion.pais?.id}}</a>
                    </div>
                </dd>
                <dt><span>Region</span></dt>
                <dd>
                    <div *ngIf="direccion.region">
                        <a [routerLink]="['/region', direccion.region?.id, 'view']">{{direccion.region?.id}}</a>
                    </div>
                </dd>
                <dt><span>Comuna</span></dt>
                <dd>
                    <div *ngIf="direccion.comuna">
                        <a [routerLink]="['/comuna', direccion.comuna?.id, 'view']">{{direccion.comuna?.id}}</a>
                    </div>
                </dd>
                <dt><span>Ciudad</span></dt>
                <dd>
                    <div *ngIf="direccion.ciudad">
                        <a [routerLink]="['/ciudad', direccion.ciudad?.id, 'view']">{{direccion.ciudad?.id}}</a>
                    </div>
                </dd>
                <dt><span>Cliente</span></dt>
                <dd>
                    <div *ngIf="direccion.cliente">
                        <a [routerLink]="['/cliente', direccion.cliente?.id, 'view']">{{direccion.cliente?.id}}</a>
                    </div>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon [icon]="'arrow-left'"></fa-icon>&nbsp;<span> Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/direccion', direccion.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon [icon]="'pencil-alt'"></fa-icon>&nbsp;<span> Edit</span>
            </button>
        </div>
    </div>
</div>
